
# 檔案名稱 .gitignore

# 忽略 config 目錄下的 database.yml 檔案
django/sample/sample/__pycache__/*.pyc
django/sample/sampleApp/__pycache__/*.pyc

# 忽略所有 sample 目錄下附檔名是 .sqlite3 的檔案
/sample/*.sqlite3

# 忽略所有附檔名是 .tmp .pyc的檔案
*.tmp
*.pyc
*.pyc

django/sample/sampleApp/__pycache__/*.cpython-39.pyc
django/sample/sample/__pycache__/*.cpython-39.pyc
=======
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
*.pyc

