<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=0">
    <title>MangoPP</title>
    <link rel="stylesheet" href="../static/about_us.css"/>

</head>
<body>

<div class="menu">
    <nav>
        <ul class="ul">
            <li>
                <div id="for_menu_title">
                    <div id="menu_text">目錄</div>
                    <div id="menu_button" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
            </li>
            <li><a class="button" href="./index.html"><span>股票查詢系統</span></a></li>
            <li><a class="button" href="./chart.html"><span>歷史走勢圖</span></a></li>
            <li><a class="button" href="./info.html"><span>系統資訊</span></a></li>
            <li><a class="button" href="./about_us.html"><span>關於我們</span></a></li>
        </ul>
    </nav>

    <script>
        function myFunction(x) {
          x.classList.toggle("change");
        }
    </script>

</div>

<div calss="content">

    <div class="banner">
        <div id="banner_title">
            041期末專題_台灣股票查詢系統
        </div>
    </div>

    <div class="about_us">
        <div class="row">
            <div class="info_card">
                <div class="profile_picture"></div>
            </div>
            <div class="info_card">
                <div class="profile_picture"></div>
            </div>
            <div class="info_card">
                <div class="profile_picture"></div>
            </div>
        </div>
        <div class="row">
            <div class="info_card">
                <div class="profile_picture"></div>
            </div>
            <div class="info_card">
                <div class="profile_picture"></div>
            </div>
            <div class="info_card">
                <div class="profile_picture"></div>
            </div>
        </div>
    </div>
</div>

<script src = "../sample/static/js/btn.js"></script>
</body>
</html>