<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=0">
    <title>MangoPP</title>
    <link rel="stylesheet" href="../static/chart.css"/>

</head>
<body>

<div class="container">
    <div class="left_container">
        <div class="menu">
            <nav>
                <ul class="menu_ul">
                    <li>
                        <div id="for_menu_title">
                            <div id="menu_text">目錄</div>
                        </div>
                    </li>
                    <li><a class="button" href="../"><span>股票查詢系統</span></a></li>
                    <li><a class="button" href="../chart"><span>歷史走勢圖</span></a></li>
                    <li><a class="button" href="../info"><span>系統資訊</span></a></li>
                    <li><a class="button" href="../about_us"><span>關於我們</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="menu_button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <!-- <script>
        function myFunction(x) {
        x.classList.toggle("change");
        }
    </script> -->

    <div calss="content">
        <div class="banner">
            <div id="banner_title">
                程式語言期末專題_台灣股票查詢系統
            </div>
        </div>

        <div class="chart">

            <div class="search_bar_block">
                <div class="search_bar">
                    <!-- <form action="/chart/twstock/" method="post"></form> -->
                    <input id="search_bar_input"  type="text" required="required"/>
                    <label class="search_bar_label" for="search_bar_input">股票名稱/代號</label>
                    <div class="bar"></div>
                    <!-- </form> -->
                </div>
                <button id="search_bar_btn" type="button">Search</button>
            </div>

            <div id="chart_date">
                <span class="chart_seearch_text">查詢日期&nbsp;</span>
                <span class="chart_seearch_text">From&nbsp;:&nbsp;</span>
                <input id ="begin_date" type="month"/>
                <span class="chart_seearch_text">&nbsp;To&nbsp;:&nbsp;</span>
                <input id ="end_date" type="month"/>
            </div>
            <div class="chart_graphic">
                <img id="chart_1" src ="../static/chart_example.png">
                <img id="chart_2" src ="../static/chart_example.png">
            </div>
        </div>
    </div>
</div>
<!-- js -->
<script src = "../static/js/chart.js"></script>
<script src = "../static/js/menu.js"></script>
</body>
</html>