<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="widtd=device-widtd, initial-scale=0">
    <title>MangoPP</title>
    <link rel="stylesheet" href="../static/info.css"/>

</head>
<body>
<div class="container">
    <div class="left_container">
        <div class="menu">
            <nav>
                <ul class="menu_ul">
                    <li>
                        <div id="for_menu_title">
                            <div id="menu_text">目錄</div>
                        </div>
                    </li>
                    <li><a class="button" href="../"><span>股票查詢系統</span></a></li>
                    <li><a class="button" href="../chart"><span>歷史走勢圖</span></a></li>
                    <li><a class="button" href="../info"><span>系統資訊</span></a></li>
                    <li><a class="button" href="../about_us"><span>關於我們</span></a></li>
                </ul>
            </nav>
        </div>
        <div id="menu_button">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
    </div>

    <div calss="content">
        <div class="banner">
            <div id="banner_title">
                程式語言期末專題_台灣股票查詢系統
            </div>
        </div>
        <div class="info">
            <div class="row">
                <div class="card_wrapper">
                    <div class="card">
                        <h2>
                            <ul class="support_stock">
                                <li class="title">目前支援的股票 : </li>
                                <li>0050 元大台灣50</li>
                                <li>2330 台積電</li>
                                <li>2884 玉山金</li>
                                <li>1101 台泥</li>
                                <li>1102 亞泥</li>
                                <li>2002 中鋼</li>
                                <li>2412 中華電</li>
                                <li>2328 廣宇</li>
                                <li>5880 合庫金</li>
                                <li>2892 第一金</li>
                            </ul>
                        </h2>
                    </div>
                </div>
                <div class="card_wrapper">
                    <div class="card">
                        <img src="../static/image/GitHub-logo.png">
                        <h2 class="title">041-Final-Project</h2>
                        <div id="link_to_github">
                            <a href="https://github.com/qq96932100/041-Final-Project">
                                <span id="link_text">View Project</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src = "../static/js/btn.js"></script>
<script src = "../static/js/menu.js"></script>
</body>
</html>