<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0">
    <title>MangoPP</title>
    <link rel="stylesheet" href="../sample/static/main.css"/>

</head>
<body>

<div class="menu">
    <nav>
        <ul class="ul">
            <li><a href="#">p01</a></li>
            <li><a href="#">p02</a></li>
            <li><a href="#">p03</a></li>
            <li><a href="#">p04</a></li>
            <li><a href="#">p05</a></li>
        </ul>
    </nav>
</div>
<div calss="content">
    <div class="banner">
        <div id="banner_title">
            041期末專題_台灣股票查詢系統
        </div>
    </div>

    <div class="search_bar">
        <input id="search_bar_input" type="text"/>
        <button id="search_bar_btn" type="button">Search</button>
    </div>

    <div>
        <div class="stock">
            <div id="time">查詢時間:YYYY/MM/DD 00:00</div>
            <div class="stock_info">
                <div>
                    <span class="stock_number">股票代號: 2330</span>
                    <span class="stock_name">股票名稱: 台積電</span>
                    <span class="stock_fullname">股票全名:</span>
                </div>
                <div class="stock_market_info">
                    <div>
                        <span class="best_bid_price">最佳買入價:</span>
                        <span class="best_bid_volume">最佳買入量:</span>
                    </div>
                    <div>
                        <span class="best_ask_price">最佳賣出價:</span>
                        <span class="best_ask_volume">最佳賣出量:</span>
                    </div>
                    <div>
                        <span class="opening_price">開盤價:</span>
                        <span class="highest_price">最高價:</span>
                        <span class="lowest_price">最低價:</span>
                    </div>
                </div>
                <div class="chart">
                    <span id="chart_date">
                        <text>要查詢的日期:</text>
                        <input type="month"/>
                    </span>
                    <br/>
                    <img id="chart" src = "">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>