@import './reset.css';
/*Color Set
#564787
#DBCBD8
#F2FDFF
#9AD4D6
#101935
 */

body{
    font-family:'微軟正黑體';
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


.container{
    position:relative;
    height: 100vh;
    width:100vw;
}

/*

--左側選單--

*/
.left_container{
    display: flex;
    flex-direction:row;
    /* position:absolute; */
    height: 100vh;
    /* width: 15vw; */
    z-index: 5;
    position:fixed;
}

.menu{
    /* position:absolute; */
    /* z-index: 5; */
    color: #101935;
    height:100vh;
    width: 15vw;
    background-color: #335585;
    /* float:left; */
    margin: 0px auto;
    /* position: fixed; */
}
/*左側選單區塊*/
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav a{
    padding: 15%;
    color: #F2FDFF;
    text-decoration: none;
    display: flex;
    font-size: 20px;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}
nav a:hover{
    background-color: #506b99;
}
nav a:active{
    background-color: #31425e;
}
.menu_ul{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#for_menu_title{
    display: inline-flex;
    flex-direction: row;
    /* width: 200%; */
}
#menu_text{
    color:white;
    width:15vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: horizontal;
    padding:2% 1% 2% 1%;
    flex-direction: row;
    font-size:35px;
}
/*for左側選單的按*/
#menu_button {
    /* position: absolute; */
    /* align-self:flex-start; */
    padding-left: 5px;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(197, 197, 197);
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {opacity: 0;}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*

--右側內容--

*/


.content{
    position: absolute;
    display:flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    /* background-color: #F2FDFF; */
    /* z-index: 3; */
}


/*

右上區塊_banner

*/


.banner{
    background-color: #29405a;
    color:#F2FDFF;
    height:25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 15vw; */
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.381);
}
#banner_title{
    margin: auto;
    font-size: 4em;
}


/*

右中區塊_search_bar

*/


.search_bar_block{
    /* background-color: #1C2D5E; */
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2em;
    height: 6vh;
    padding: 2vh 0% 0% 0%;
}
#search_bar_input{
    font-size: large;
    height:65%;
    width:20%;
    display: block;
    width: 100%;
    /* padding-top: 36.6666666667px; */
    border: none;
    border-radius: 0;
    color: white;
    background: #2c486d;
    /* font-size: 36.6666666667px; */
    transition: 0.3s ease;
}
.search_bar_label {
    position: absolute;
    top: 32%;
    color: rgba(255, 255, 255, .5);
    font: 400 20px Arial;
    cursor: text;
    transition: 0.25s ease;
}
#search_bar_input:focus {
    outline: none;
}
#search_bar_input:focus ~ label {
    top: 29.5%;
    font: 400 15px Arial;
    color: #61b1f3;
}
#search_bar_input:valid ~ label {
    top: 29.5%;
    font: 400 15px Arial;
    color: #559b92;
}
.bar {
    background: rgba(255, 255, 255, .5);
    content: ' ';
    width: 500px;
    height: 3.6666666667px;
    transition: 0.3s ease;
    position: relative;
}
.bar:before {
    content: ' ';
    position: absolute;
    width: 500px;
    height: 100%;
    /* background: #2196f3; */
    /* transform: translateX(0%); */
}
#search_bar_input:focus ~ .bar:before{
    /* transform: translateX(1%); */
    background: #61b1f3;
}
#search_bar_input:valid ~ .bar:before{
    background-color: #559b92;
}
#search_bar_btn{
     margin-left: 0.3cm;
    /*height: 65%; */
    display: inline-block;
    padding: 6px 15px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4c5c7b;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
}
#search_bar_btn:hover {background-color: #435069}
#search_bar_btn:active {
  background-color: #5b5c5c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.search_bar_text{
    position: absolute;
    top: 36.6666666667px;
    color: rgba(255, 255, 255, 0.5);
    font: 400 36.6666666667px Roboto;
    cursor: text;
    transition: 0.25s ease;
}


/*

右下區塊_stock資訊

*/


.stock{
    color:#F2FDFF;
    background-color: #2c486d;
    display: flex;
    height:75vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 15vw; */
}
.stock_info{
    display:flex;
    flex-direction: column;
    width: 75%;
}
#stock_info_upper{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#stock_name{
    /* background-color: #85B8CB; */
    font-size: 5em;
    /* margin:10% 5% 10% 5%; */
    padding: 10% 5% 10% 5%;
    display:inline-block;
    vertical-align:top;
}
.stock_info_right{
    /* margin:40px; */
    padding: 0% 5% 0% 5%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
}
#stock_number{
    font-size: 2em;
    margin:1% 0% 1% 0%;
    padding:1% 0% 1% 0%;
}
#stock_fullname{
    font-size: 2em;
    margin:1% 0% 1% 0%;
    padding:1% 0% 1% 0%;
}
.stock_market_info{
    font-size: 1.5em;
    display:flex;
    justify-content: center;
    align-items: center;
}